html,body {
	height: 100%
}
#mapContainer
{
	height: 100%;
	width: 100%		
}
li {
    font-size: small;
}    
#fbButton{
    float: left;
}
.hide {
    display: none;
}
.highlighted{
    font-size: large;
    color: #ff0000;
}
