html,body {
	height: 100%
}
#mapContainer
{
	position: fixed;
    z-index: 0;
    top : 0px;
    right: 0px;
	height: 100%;
	width: 100%		
}
li {
    font-size: small;
}    
#fbButton{
    float: left;
}
.hide {
    display: none;
}
.highlighted{
    font-size: large;
    color: #ff0000;
}
#toggleButton{
    position: fixed;
    z-index: 3;
    top : 5px;
    right: 5px;
    background:#eee;
    text-decoration:none;
    color:#333;
    font-family:Arial, sans-serif;
    padding:3px 5px;
    border:1px solid #aaa;
    border-radius:3px;
    cursor:default;
}
#event-menu {
    position: fixed;
    z-index: 2;
    top : 0px;
    right: 0px;
}
#whenCombo {
    position: fixed;
    z-index: 3;
    top : 40px;
    right: 5px;
}
